backports.functools-lru-cache==1.5
beautifulsoup4==4.7.1
bs4==0.0.1
certifi==2022.12.7
chardet==3.0.4
Django==1.8.2
idna==2.8
lxml==4.3.4
numpy==1.16.4
pandas==0.24.2
python-dateutil==2.8.0
pytz==2019.1
requests==2.22.0
simplejson==3.16.0
six==1.12.0
soupsieve==1.9.2
tushare==1.2.37
urllib3==1.25.3
uwsgi-2.0.19.1