<!DOCTYPE html>
<br lang="en">
<head>
    <meta charset="UTF-8">
    <title>投资理念</title>
</head>
<br>

<a style="color: #ff0000; "> 1. 我们把目标定在年收益15%，从定投指数基金开始，不要太贪，迟早都能实现财富自由。</a> </br>
<a> 2. 做测试基金 4 个,每个月 2000 元定投的预支, 测试 1 年,现在是下跌阶段,越跌越买
</a></br>
<a>交银阿尔法核心混合 519712,</a></br>
<a>汇添富成长焦点 519068,</a></br>
<a>交银精选股票 519688, </a></br>
<a>每月定投 100. 如有机会则加倍定投500 元.</a></br>


<a>3. 近 3 个月可以不看,从右往左看, 四分位排名 5,3,2 年排名优秀. 同类排名靠前的.
</a></br>

<br> </br>
<a>
    4.中欧价值发现混合A-166005 收益率 -12.64 买入 100 2019年05月24日
</a>
<br> </br>
<a>
    5.2019年05月28日, 在蛋卷自选里选出近一年中收益为负的几只基金.作为定投 4 只基金的苗子
    中欧价值发现混合 A -7.44%
    安信价值精选股票 -8.64%

</a>


<br> </br>

<a>

    6. 学习纯债基金的理念,可以配置 50%的仓位为纯债
</a>


<br></br>
<a>7.

    ------

    <p><font color="#ff0000">2 年后 年化收益 6 万元目标 </font></p>

    <p><font color="#ff0000">首先 2 年后要是达到每年 6 万的收益的本金: 假如定投基金的话的年化收益按照 12%算.
        <br/>那么. x * 12% = 6w

        <br/>可以求得 x = 50万 本金. </font></p>

    <p><font color="#ff0000">目前存款是 大概就是 15 万.
        <br/>总共是 35 万元. 平均到每年那么就是 18 万 , 每月需要 1.5 万的本金. </font></p>

    <p><font color="#ff0000">那么.我们夫妻二人的薪资简单可以计算为.&#160; 2 万+ 8 千. = 2.8 万. </font></p>

    <p><font color="#ff0000">平均家庭开支为: 6300+ 4000+ 5000 = 1.6 万. 那么每月可以结余 1.2 万. 加上安娜尔应该是没有问题的. </font></p>

    <p><font color="#ff0000">2 年后我们可以有 1.2 * 24 = 28 万. </font></p>

    <p><font color="#ff0000">如果按照年化收益 15%计算:&#160; x * 15% = 6w
        <br/>x= 40万.

        <br/>存款 15 万. </font></p>

    <p><font color="#ff0000">总共是 25 万. 每年需要 12 万. 那么按照每月 1.2 万的水平是可以存款了.</font></p>

    <p><font color="#ff0000"> 富国中证 红利 改成定投 2000, </font></p>


    -------


</a>
<br> </br>
<a>
    8.
</a>
</body>

{% include "footer.html" %}

</html>