<!DOCTYPE html>
<html style="height: 100%">
   <head>
       <meta charset="utf-8">
         <title>单基金走势</title>
   </head>
   <body style="height: 80%; margin: 0">
       <div id="container" style="height: 100%"></div>


        fundpool_path = BASE_DIR+ '/st_pool/get_fund_data/基金池.csv'

        <script type="text/javascript" src="/static/js/echarts.min.js"></script>
{#       <script type="text/javascript" src="/Users/zzy/PycharmProjects/python-workspace/stock/static/js/echarts.min.js"></script>#}
{#       <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/echarts/dist/echarts.min.js"></script>#}



{#       https://echarts.baidu.com/examples/editor.html?c=line-simple  #}
<script type="text/javascript">

var data = {{ data|safe }};



var fundcode1 = {{ code|safe }};



console.log('fundcode'+fundcode1)
var dom = document.getElementById("container");
var myChart = echarts.init(dom);
var app = {};
option = null;


var datatime = data.map(function (item) {
            return item[0];
        });
var datavalue = data.map(function (item) {
            return item[1];
        });

{#option = {#}
{#    title: {#}
{#                text: fundcode1 //#名称#}
{#            },#}
{##}
{#    xAxis: {#}
{#        type: 'category',#}
{#        data: datatime,#}
{#    },#}
{#    yAxis: {#}
{#        type: 'value'#}
{#    },#}
{#    series: [{#}
{#                name: '净值',#}
{#                type: 'line',#}
{#                data: datavalue#}
{#            }]#}
{##}



    // 指定图表的配置项和数据
    var option = {
        title: {
            text: fundcode1 //#名称
        },
        tooltip: {},
        legend: {
            data: ['销量1']
        },
        xAxis: {
            data: datatime
        },
        yAxis: {},
        series: [{
            name: '净值',
            type: 'line',
            data: datavalue
        }]
    };

    // 使用刚指定的配置项和数据显示图表。
    myChart.setOption(option);

       </script>
   </body>
</html>