<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>每日要做</title>
    	

</head>





<body>

<a href="http://127.0.0.1:8080/fund/" target="_blank"> <span style="color:#0000FF;">基金</span></a>

<a> ----  hhh ----</a>



<a href="https://www.jianshu.com/p/b8c13ca3154a" target="_blank"> <span style="color:#0000FF;">IDEA Mac 快捷键</span></a>

<a> ----  hhh ----</a>


<br> </br>

<a>

  3.创业板指数 操盘日志-确认成功
</a>
<br> </br>
4. 程序人生


<a href="https://blog.csdn.net/qing_gee" target="_blank"> <span style="color:#0000FF;">csdn 沉默王二</span></a>



<br> </br>
5. 思考股市

我认为以在 3000 多只股票中选出每天都长的股票. 是非常容易, 选出涨的 1000 家或者 50 家是非常容易的, 比每天都有涨的. 

那么从 3000 只股票中根据行业和板块, 可以选出大概 100 . 然后 用爬虫获取数据情感分析,然后观察那个行业有大消息或者负面消息.那么
就可以操纵选出的行业中的某一只或者几只. 这样测试大概半年的样子就有了结果.

预测涨, 实际如何. 计算准确率. 这样操作可以赚点小钱是十分可以的. 有些可能买的没有涨.等涨了后再卖掉.这样就会100%稳赚获利.
<a href="http://www.sohu.com/a/290088256_120031289" target="_blank"> <span style="color:#0000FF;">如何选明天上涨的股票，有哪些方式？</span></a>




<br> 
6. 在线课程

<a href="https://shimo.im/docs/JzyIQ23ArPsrLoQC/read" target="_blank"> <span style="color:#0000FF;">萌萌家课程目录</span></a>

<a href="http://ml.weback.club/" target="_blank"> <span style="color:#0000FF;">求知学院</span></a>
</br>

<br> </br>

<a href="https://www.value1010.com" target="_blank"> <span style="color:#0000FF;">价值投资十年十倍 </span></a>


<br> </br>

<a href="http://www.csindex.com.cn/" target="_blank"> <span style="color:#0000FF;">中证指数有限公司 </span></a>


<br> 

<a href="http://www.szse.cn/market/exponent/sample/index.html" target="_blank"> <span style="color:#0000FF;">深圳证券交易所 </span></a>
</br>

<br> 

<a href="file:///Volumes/apple-sd/doc-apple-sd/doc/python-%E8%AF%BE%E4%BB%B6%E5%92%8C%E8%B5%84%E6%96%99/zzy_all_index.html" target="_blank"> <span style="color:#0000FF;">python-课件和资料 </span></a>
</br>


<br> 

<a href="https://ke.qq.com/course/303183" target="_blank"> <span style="color:#0000FF;">植物的品种鉴别与区分 </span></a>
</br>

<a href=" " target="_blank"> <span style="color:#0000FF;">茶文化 了解茶的品种 </span></a>
</br>
<a href="https://eniu.com/gu/sh600085/pe_ttm " target="_blank"> <span style="color:#0000FF;">历史市盈率 </span></a>

</br>


<a href="https://mp.weixin.qq.com/s/Vzo5fIY8lJlt97GsqbHoog " target="_blank"> <span style="color:#0000FF;">三期学员PMP 学员通过后博客分享 </span></a>

</br>

<a href="http://blog.51cto.com/13840284/2314517" target="_blank"> <span style="color:#0000FF;">四期学员PMP 学员通过后博客分享 </span></a>



</br>

如果今年能赚到钱，比如卖课高手盈利了，或者猫盾回本了，拿出4万来，震荡投资股市短期盈利
</br>

</br>
7. 市盈率 -彼得格林

如果可口可乐公司股票的市盈率是 15 倍,那么你应该预期这家公司每年收益增长率为 15%,
比如一家公司收益率增长为 12%的公司 ,而市盈率只有 6 倍,那么这只股票的投资盈利前景就相当吸引人.

从公司年报上找出这家公司每年收益的收据,然后计算出每年收益相当于上一年的收益增长率,然后再把收益增长率与股票市盈率进行比较.

</br>

<h2>淘宝卖家这么多,为什么卖课的这么少? </h2>

<p>卖课程的3个门槛: </p>

<p>1.如何从 0 策划,包装一门课程!(99%的人不知道) </p>

<p>2.如何让别人知道自己,也就引流!(99%的人不知道) </p>

<p>3.如何让收入稳定下来(最核心的关键, 开始就必须设定好!) </p>













































































1






</body>


</html>